* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #307051;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}
section {
	margin-top: 70px;
}
/* Navbar */
nav {
	display: flex;
	justify-content: space-around;
	padding: 80px 0;
	align-items: center;
}
nav ul {
	display: flex;
	list-style: none;
	width: 40%;
	justify-content: space-between;
}
nav ul li a {
	text-decoration: none;
	color: #fff;
	/*overflow: hidden;*/
}
nav ul li a::after {
	content: '';
	display: flex;
	width: 0;
	margin: auto;
	border-bottom: 3px solid blue;
	padding: 5px 0;
	margin-bottom: -13px;
	transition: width .3s;
}
nav ul li a:hover::after {
	content: '';
	display: flex;
	width: 50%;
	margin: auto;
	border-bottom: 3px solid blue;
	padding: 5px 0;
	margin-bottom: -13px;
}
nav ul.slide-menu {
	transform: translateX(-5%);
}
.hamburger-menu {
	display: none;
	flex-direction: column;
	height: 28px;
	justify-content: space-between;
}
.hamburger-menu span {
	display: block;
	width: 35px;
	height: 5px;
	background-color: #fff;
	border-radius: 15px;
	transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 1s; 
}
.hamburger-menu span:nth-child(1) {
	transform-origin: 0 0;
}
.hamburger-menu span:nth-child(3) {
	transform-origin: 0 100%;
}
.hamburger-menu span:nth-child(1).close {
	transform: rotate(45deg) translate(-3px, 2px);
}
.hamburger-menu span:nth-child(2).close {
	transform: rotate(360deg) scale(0);
}
.hamburger-menu span:nth-child(3).close {
	transform: rotate(-45deg) translate(-3px, -3px);
}

/* laupagi_ */
.content {
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin: auto;
}
.content h1 {
	width: 500px;
	font-size: 150px;
	margin-left: -45%;
	letter-spacing: 15px;
}

.main-content {
	width: 75%;
	margin: auto;
}
.main-content h2 {
	width: 400px;
}
.box {
	margin-top: 80px;
	width: 400px;
	background-color: #000;
}
.box h1 {
	text-align: right;
	padding: 20px;
	font-size: 20px;
	letter-spacing: 8px;
}
.main-info-lp {
	padding-top: 70px;
	font-size: 25px;
	width: 40%;
	margin-left: 13%;
}
.info-membaca {
	padding-top: 15%;
	margin-left: 5%;
}
.info-membaca h1 {
	font-size: 60px;
	letter-spacing: 6px;
	margin-bottom: 1%;
}
.main-info-membaca {
	display: flex;
	margin-top: 3%;
	margin-bottom: 1%;
}
.main-info-membaca ul {
	display: flex;
	width: 35%;
	height: 180px;
	list-style: none;
	flex-wrap: wrap;
}
.info-membaca .main-info-membaca ul li a {
	text-decoration: none;
	padding:10px;
	margin-left: 20px;
	color: #fff;
	background-color: #000;
}
.info-membaca h2 a {
	position: absolute;
	text-decoration:none;
	color: #fff;
	overflow: hidden;
}
.info-membaca h2 a:after {
	content:'';
	display: block;
	width: 0;
	margin: auto;
	border-bottom: 3px solid blue;
	transition: width .3s;
	padding: 5px 0;
}
.info-membaca h2 a:hover::after {
	content: '';
	display: block;
	width: 50%;
	margin: auto;
	border-bottom: 3px solid blue;
	padding: 5px 0;
}
.info-melihat {
	padding-top: 15%;
	margin-left: 5%;
}
.info-melihat h1 {
	font-size: 60px;
	letter-spacing: 6px;
	margin-bottom: 1%;
}
.info-melihat h4 {
	width: 50%;
}
.info-melihat h2 {
	padding-top: 5%;
}
.info-melihat h2 a {
	position: absolute;
	overflow: hidden;
	color: #fff;
	text-decoration: none;
}
.info-melihat h2 a:after {
	content: '';
	display: block;
	width: 0;
	margin: auto;
	border-bottom: 3px solid blue;
	transition: width .3s;
	padding: 5px 0;
}
.info-melihat h2 a:hover::after {
	content: '';
	display: block;
	width: 50%;
	margin: auto;
	border-bottom: 3px solid blue;
	padding: 5px 0;
}
.main-info-melihat {
	display: flex;
	padding-top: 5%;
	width: 500px;
	height: 660px;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.main-info-melihat .pict-1 {
	width: 200px;
	height: 300px;
	background:url(../img/pict-1.png);
	margin: auto;
	border-radius: 15px;
}
.main-info-melihat .pict-2 {
	width: 250px;
	height: 250px;
	margin: auto;
	background:url(../img/pict-4.png);
	border-radius: 15px;
}
.main-info-melihat .pict-3 {
	width: 250px;
	height: 250px;
	margin: auto;
	background:url(../img/pict-3.png);
	border-radius: 15px;
}
.main-info-melihat .pict-4 {
	width: 200px;
	height: 300px;
	margin: auto;
	background:url(../img/pict-2.png);
	border-radius: 15px;
}
.footer {
	width: 100%;
	margin:15% 0 5% 40%;
}
.logo-ig {
	margin-top: 10px;
}
.footer .logo-ig a {
	text-decoration: none;
	color: #fff;
}
/* animation egg */
.animation .egg {
  position: fixed;
  top: 30%;
  width: 250px;
  height: 400px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  border: 1px solid navy;
  overflow: hidden;
  background-color: #fff;
}
.animation .egg .progressbar {
  position:absolute;
  /*top:0;*/
  /*right:0;*/
  width:100%;
  height: 100%;
  /*border-radius:10px;*/
  background:url(../img/wave.png);
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {
    background-position-x:0; 
  }
  100% {
    background-position-x:500px; 
  }
}
/* Tablet View */
@media screen and (max-width: 768px) {
	nav ul {
		width: 50%;
	}
	.content h1 {
		font-size: 80px;
		width: 200px;
		margin-left: -56.5%;
	}
	.animation .egg {
		width: 145px;
		height: 200px;
	}
	.main-content {
		margin-right:15.5%;
	}
	.main-content h2 {
		font-size: 20px;
		width: 300px; 
	}
	.box {
		width: 240px;		
	}
	.box h1 {
		font-size: 15px;
		letter-spacing: 3px;
	}
	.main-info-lp {
		margin-left: 10%;
	}
	.info-membaca h4 {
		width: 400px;
		margin-left: 1%;
	}
	.main-info-membaca {
		margin: 5% 0;
	}
	.main-info-membaca ul {
		width: 50%;
		height: 300px;
	}
	.main-info-melihat {
		width: 200px;
		height: 80em;
	}
	.footer {
		margin: 25% 0 8% 40%;
	}
}

/* Mobile View */
@media (max-width: 576px) {
	nav ul {
		position: absolute;
		top: 11.5%;
		width: 75%;
		left: 0;
		height: 40px;
		background-color: navy;
		align-items: center;
		justify-content: space-evenly;
		transform: translateX(-100%);
		transition: all 1s;
		border-radius: 5px;
	}
	.content {
		display: block;
	}
	.content h1 {
		font-size: 7em;
		margin-left: -80px;
	}
	.animation .egg {
		top: 80%;
		right: 5%;
		width: 50px;
		height: 80px;
		position:fixed;
	}
	.animation .egg .progressbar {		
		background-position: 0 -50px;		
  		animation: animate 7s linear infinite;
	}
	.hamburger-menu {
		display: flex;
	}
	.main-content h2 {
		font-size: 20px;
		width: 400px;
	}
	.main-info-lp {
		width: 80%;
	}
	.main-info-membaca {
		margin: 15% 0 10% 0;
	}
	.main-info-membaca ul {
		width: 100%;
		height: 200px;
	}
	.info-melihat h4 {
		width: 80%;
	}
	.main-info-melihat {
		width: 400px;
	}
	.footer {
		margin : 35% 0 15% 40%;
	}
}